// start .sAppsIndex
.sAppsIndex {
	@include media-breakpoint-up(lg) {
		border-right: 1px solid #ebf1f9;
		flex-grow: 1;
		display: flex;
		padding: 24px;
		padding-bottom: 20px;
		max-width: calc(100vw - 339.56px - 81px);
		order: 0;
	}
	order: 1;
	@include media-breakpoint-down(lg) {
		border-top: 1px solid #e7e7e7;
		padding-top: 24px;
		padding-bottom: 10px;
		padding-left: 8px;
		padding-right: 8px;
	}

	.tabs {
		width: 100%;
		&__caption {
			@include media-breakpoint-up(lg) {
				margin-bottom: 24px;
			}
			margin-bottom: 16px;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAppsIndex
