@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow {
	font-size:math.div(7,10)*1rem;
	width: math.div(12,7)*1em;
}
.icon-arrow-pagin {
	font-size:math.div(10,10)*1rem;
	width: math.div(9,10)*1em;
}
.icon-attention {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-bell {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-city {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-forest {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-gear {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-logout {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-man {
	font-size:math.div(21,10)*1rem;
	width: math.div(21,21)*1em;
}
.icon-plus {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-sort-1 {
	font-size:math.div(17,10)*1rem;
	width: math.div(16,17)*1em;
}
.icon-sort-2 {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-topnav-1 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-10 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-11 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-12 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-13 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-2 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-3 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-4 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-5 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-6 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-7 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-8 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-topnav-9 {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-woman {
	font-size:math.div(21,10)*1rem;
	width: math.div(21,21)*1em;
}
