extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
	+top-nav()
	
	+topLine()
	.container
		p 1
		.row
			.col-4
				img.res-i(src="img/@2x/webp/servise-bg.webp", alt="")
			.col-4
				img.res-i(src="img/@2x/avif/servise-bg.avif", alt="")
			.col-4
				img.res-i(src="img/@2x/servise-bg.jpg", alt="")
		+pic("servise-bg.jpg")
		.swiper-wrapper
			.swiper-slide 1
			.swiper-slide 2
			.swiper-slide 3
	+headerBlock()
	+sForm()
	+sContact()
	+footer()
      



