extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sMainPage/_sMainPage.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'title'
	title= title
block pagecontent
	//- +mob-mnu()
	+topLine()
	.main-content
		+top-nav()
		+sMainPage()



