// start .topLine
.topLine {
	--sPT: 0;
	--sPB: 0;
	display: flex;
	@include media-breakpoint-down(lg) {
		--sPT: 8px;
		--sPB: 8px;
		padding-left: 8px;
		padding-right: 8px;
		align-items: center;
	}
	.toggle-menu-mobile {
		@include media-breakpoint-down(lg) {
			margin-left: 8px;
			margin-right: 8px;
		}
	}
	&__desktop-btn {
		@include media-breakpoint-up(lg) {
			display: block;
			border-right: 1px solid #ebf1f9;
		}
		display: none;
		border-right: 1px solid #ebf1f9;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__logo-btn {
		cursor: pointer;
	}
	&__logo {
		width: 40px;
		height: 40px;
		display: block;
	}
	&__center {
		display: flex;
		justify-content: space-between;
		@include media-breakpoint-up(lg) {
			border-right: 1px solid #ebf1f9;
			padding-left: 24px;
			padding-right: 24px;
			padding-top: 12px;
			padding-bottom: 12px;
		}
		align-items: center;
		padding-left: 8px;
		padding-right: 12px;
		flex-grow: 1;
	}
	&__apps-wrap {
		display: flex;
		align-items: center;
		margin-right: 24px;
		max-height: 41.99px;
		overflow: hidden;
		flex-wrap: wrap;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	//
	&__add-app {
		@extend .btn, .btn-success;
		transition-duration: 0.4s;
		@include media-breakpoint-up(lg) {
			padding-top: 11px;
			padding-bottom: 10px;
			padding-left: 16px;
			padding-right: 16px;
			min-width: 176.43px;
		}
		position: relative;
		@include media-breakpoint-down(lg) {
			width: 32px;
			height: 32px;
		}
		span {
			margin-left: 10px;
			font-size: 14px;
			line-height: calc(19 / 14);
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		.icon {
			width: 16px;
			height: 16px;
			@include media-breakpoint-down(lg) {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	&__profile-menu {
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			padding-left: 24px;
			padding-right: 24px;
			padding-top: 16px;
			padding-bottom: 16px;
		}
		padding-left: 20px;
		.topLine__profile-person {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		.topLine__logout {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
	&__profile-person {
		display: flex;
		align-items: center;
		@include media-breakpoint-up(lg) {
			margin-right: 15px;
		}
	}
	&__profile-pic {
		img {
			width: 40px;
			height: 40px;
			border: 50%;
		}
	}
	&__profile-name {
		font-weight: bold;
		font-size: 14px;
		line-height: calc(19 / 14);
		color: black;
		margin-left: 12px;
		max-height: 38px;
		overflow: hidden;
		position: relative;
		@include media-breakpoint-up(lg) {
			max-width: 104px;
			min-width: 103px;
			&::after {
				content: "";
				position: absolute;
				right: 0;
				width: 50%;
				height: 100%;
				top: 0;
				background: linear-gradient(270deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
			}
		}
	}
	&__profile-toggle {
		@include media-breakpoint-up(lg) {
			display: none;
		}
		cursor: pointer;
		position: relative;
		border-radius: 150px;
		width: 68px;
		height: 40px;
		background-color: #e5f1ff;
		transition-duration: 0.4s;
		margin-left: 20px;
		&:hover {
			background-color: #a1b2c8;
			.icon {
				stroke: $white;
			}
		}
		img {
			position: absolute;
			top: 4px;
			left: 4px;
			width: 32px;
			height: 32px;
			border-radius: 50%;
		}
		.icon {
			position: absolute;
			top: 16px;
			right: 10px;
			color: transparent;
			stroke: black;
			width: 15px;
			height: 7.5px;
			transition-duration: 0.4s;
		}
	}
	&__profile-toggle.active {
		background-color: #a1b2c8;
		.icon {
			stroke: $white;
		}
	}
	&__notification {
		cursor: pointer;
		.icon {
			width: 24px;
			height: 24px;
			color: $body-color !important;
		}
		position: relative;
		&--fill {
			&::before {
				content: "";
				position: absolute;
				left: -6px;
				top: -6px;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $orange;
			}
		}
	}
	&__settings {
		cursor: pointer;
		.icon {
			width: 24px;
			height: 24px;
		}
		margin-left: 25px;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	&__logout {
		margin-left: 24px;
		.icon {
			transition-duration: 0.4s;
			color: #7d7d7d;
			width: 24px;
			height: 24px;
		}
		&:hover {
			.icon {
				color: $body-color;
			}
		}
	}
	&__profile-mob-menu {
		background-color: $white;
		position: absolute;
		@include media-breakpoint-down(lg) {
			top: 56px;
			left: 0;
			width: 100%;
		}
		@include media-breakpoint-up(lg) {
			top: 72px;
			right: 0;
			width: 360px;
		}
		transform: translateY(-150%);
		transition-duration: 0.4s;
		opacity: 0;
		box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.25);
		&::before {
			content: "";
			position: absolute;
			top: -3px;
			@include media-breakpoint-up(lg) {
				right: 77px;
			}
			right: 19px;
			width: 11px;
			height: 11px;
			background-color: $white;
			transform: rotate(45deg);
		}
	}
	&__profile-mob-menu.active {
		transform: translateY(0);
		opacity: 1;
	}
	&__profile-mob-menu-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 16px 17px;
		border-bottom: 1px solid rgba(#d8e2ed, 0.5);
		@include media-breakpoint-up(lg) {
			display: none;
		}
	}
	&__notifications-menu {
		padding: 24px;
		padding-top: 17px;
		border-bottom: 1px solid rgba(#d8e2ed, 0.5);
	}
	&__notifications-menu-title {
		font-weight: bold;
		line-height: calc(22 / 16);
		margin-bottom: 24px;
	}
	&__profile-mob-menu-foot {
		padding-top: 17px;
		padding-bottom: 17px;
		padding-left: 26px;
		padding-right: 26px;
	}
	&__admin-link {
		font-weight: bold;
		line-height: calc(22 / 16);
		color: $body-color;
	}
	&__form-check {
		&:last-child {
			margin-bottom: 0;
		}
		margin-bottom: 16px;
	}
	.form-check-label {
		font-size: 14px;
		line-height: calc(19 / 14);
		color: black;
		margin-left: 12px;
	}
	.form-check-input {
		border-color: transparent !important;
		background-image: url("../img/svg/switch-bg.svg") !important;
		background-position: 1px 0;
		background-color: #e7e7e7;
	}
	.form-check-input:checked {
		background-color: $orange;
		background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E") !important;
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.topLine
