// start .topLine
.topLine {
	--sPT: 0;
	--sPB: 0;
	display: flex;
	&__desktop-btn {
		@include media-breakpoint-up(lg) {
			display: block;
		}
		display: none;
		border-right: 1px solid #ebf1f9;
		padding-top: 16px;
		padding-bottom: 16px;
		padding-left: 20px;
		padding-right: 20px;
	}
	&__logo-btn {
		cursor: pointer;
	}
	//
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	@include media-breakpoint-down(lg) {
	}
	@include media-breakpoint-down(md) {
	}
	@include media-breakpoint-down(sm) {
	}
	@include media-breakpoint-down(xs) {
	}
} // end.topLine
