mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		+e.desktop-btn
			+e.logo-btn.toggle-menu-mobile--js
				img(src="img/svg/logo-mini.svg", alt="")
		+b.toggle-menu-mobile--js.d-lg-none
			span
		+e.center
			+e.logo(href="/").d-lg-none
				img(src="img/svg/logo-mini.svg", alt="")
			+e.apps-wrap
				+app-item(`ОД`)
				+app-item(`ДИ`)
				+app-item(`СО`)
				+app-item(`ДП`)
				+app-item(`СБ`)
				+app-item(`Ст.ГКП`)
				+app-item(`ГП`,`danger`)
				+app-item(`ЛНС`,`danger`)
				+app-item(`БПЛА`)
				+app-item(`ГК`)
			+e.BUTTON.add-app(type="button")
				+icon('plus')
				span Добавить заявку
		+e.profile-menu
			+e.profile-person
				+e.profile-pic
					img(src="img/@2x/avatar.png", alt="")
				+e.profile-name Ольга<br>Константинова
			+e.notification--fill
				+icon('bell')
			+e.settings.profile-settings
				+icon('gear')
			+e.logout(href="#")
				+icon('logout')
		+e.profile-toggle.profile-settings
			img(src="img/@2x/avatar.png", alt="")
			+icon('arrow')
		+e.profile-mob-menu
			+e.profile-mob-menu-head
				+e.profile-person
					+e.profile-pic
						img(src="img/@2x/avatar.png", alt="")
					+e.profile-name Ольга<br>Константинова
				+e.logout(href="#")
					+icon('logout')
			+e.notifications-menu
				+e.notifications-menu-title Настройка уведомлений
				+e.form-check.form-switch
					input.form-check-input(type='checkbox' role='switch')
					label.form-check-label Звуковые уведомления о событиях
				+e.form-check.form-switch
					input.form-check-input(type='checkbox' role='switch')
					label.form-check-label Уведомления о событиях на почту
				+e.form-check.form-switch
					input.form-check-input(type='checkbox' role='switch')
					label.form-check-label Уведомлений только по своему региону
			+e.profile-mob-menu-foot
				+e.admin-link(href="#") Панель администратора
	// end topLine