mixin topLine()
	// start topLine
	+b.topLine.section#topLine&attributes(attributes)
		+e.desktop-btn
			+e.logo-btn.toggle-menu-mobile--js
				img(src="img/svg/logo-mini.svg", alt="")
		+b.toggle-menu-mobile--js.d-lg-none
			span
	// end topLine