//- pugination
mixin pagin()
	//- ul.pagination.justify-content-center
	//- 	li.page-item.disabled
	//- 		a.page-link(href='#', tabindex='-1') 
	//- 			i(class="fas fa-chevron-left")
	//- 	li.page-item.disabled
	//- 		a.page-link.d-none.d-md-block(href='#', tabindex='-1') Назад

	//- 	li.page-item
	//- 		a.page-link(href='#') 1
	//- 	li.page-item.active
	//- 		a.page-link(href='#')
	//- 			| 2 
	//- 			span.sr-only (current)
	//- 	li.page-item
	//- 		a.page-link.page-link-more(href='#') ...
	//- 	li.page-item
	//- 		a.page-link(href='#') 3

	//- 	li.page-item
	//- 		a.page-link.d-none.d-md-block(href='#') Дальше
	//- 	li.page-item
	//- 		a.page-link(href='#') 
	//- 			i(class="fas fa-chevron-right")
	.pagination-wrapper
		ul.page-numbers
			mixin li(className,n)
				li(class=(className ? className : ''))
					if n
						a(href='#')= n 
					else
						block
			+li('prev')
				a(href='#')
					+icon('arrow-pagin')
			+li(``,1)
			- for (var x = 2; x < 4; x++)
				+li('',x)
			+li()
				span ...
			+li('',12)
			+li('next')
				a(href='#')
					+icon('arrow-pagin')